<mat-card>
    <mat-action-list>
        <div mat-subheader>Categorías disponibles</div>
        <button routerLink="/user-dashboard/0" mat-list-item>
            <div class="d-flex">
                <mat-icon mat-list-icon>quiz</mat-icon>Exámenes
            </div>
        </button>
        <button [routerLink]="'/user-dashboard/'+c.categoriaId" mat-list-item *ngFor="let c of categorias">
            <div class="d-flex">
            <mat-icon mat-list-icon>account_circle</mat-icon> {{ c.titulo }}</div>
        </button>
    </mat-action-list>
</mat-card>