<mat-card >
    <mat-action-list>   
        <div mat-subheader>Menu</div>
        <button routerLink="/admin" mat-list-item>
            <div class="d-flex"><mat-icon mat-list-icon>home</mat-icon> Inicio</div>
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <div class="d-flex"><mat-icon mat-list-icon>account_circle</mat-icon> Perfil</div>
        </button>
        <button mat-list-item routerLink="/admin/categorias">
            <div class="d-flex"><mat-icon mat-list-icon>list</mat-icon> Categorías</div>
        </button>
        <button mat-list-item routerLink="/admin/add-categoria">
            <div class="d-flex"><mat-icon mat-list-icon>add_circle_outline</mat-icon> Agregar categoría</div>
        </button>
        <button mat-list-item routerLink="/admin/examenes">
            <div class="d-flex"><mat-icon mat-list-icon>quiz</mat-icon> Cuestionarios</div>
        </button>
        <button mat-list-item routerLink="/admin/add-examen">
            <div class="d-flex"><mat-icon mat-list-icon>list</mat-icon> Agregar Cuestionario</div>
        </button>
        <button mat-list-item (click)="logout()">
            <div class="d-flex"><mat-icon mat-list-icon>logout</mat-icon> Salir</div>
        </button>
    </mat-action-list>
</mat-card>